<style>
    .tituloXL{
        font-size: 1.25em;
        font-weight: bold;
    }
    .tituloL{
        font-size: 1.17em;
        font-weight: bold;
    }
    .tituloM{
        font-size: 1.08em;
        font-weight: bold;
    }
    .encabezado{
         font-weight:bold;
         font-family: Arial;
         font-size:11;
    }
    .numero{
                text-align: right;
                border-spacing: 0px;
            }
	.padbot{ padding-bottom: 0.15em; }
	.rghttxt{ text-align: right; }

</style>
 
<div class="second rghttxt">
   <span style="font-weight: bold">{{fechas}}</span>
</div>
<div style="text-align: center">
    <table style='width: 100%;font-family: Arial;font-size:11; border-collapse:collapse;'>
        <tbody>
            <tr>
                <td style='font-weight:bold;font-size:150%' colspan=7>Nombre o Razon Social: <span style="display:inline-block; width: 10;"></span> {{empresa.nomempresa}}</td>
                <td style='font-weight:bold;font-size:150%' colspan=2>NIT: {{empresa.nit}}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;font-size:150%' colspan=4>Libro de Ventas correspondiente al Mes de</td>
                <td style='font-weight:bold;font-size:150%' colspan=1>{{empresa.mesrep}}</td>
                <td style='font-weight:bold;font-size:150%' colspan=1>de</td>
                <td style='font-weight:bold;font-size:150%' colspan=2>{{empresa.aniorep}}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;font-size:150%' colspan=9>Dirección Comercial: <span style="display:inline-block; width: 35;"></span>{{empresa.direccion}}</td>
            </tr>
            <tr></tr>
            <tr class="encabezado">
                <td class="encabezado" style='width:2%'>No.</th>
                <td class="encabezado" style='width:7%'>Fecha</th>
                <td class="encabezado" style='width:8%'>No. NIT del Proveedor</th>
                <td class="encabezado" style='width:23%'>Nombre del Proveedor</th>
                <td class="encabezado" style='width:20%'>Documento / Factura</th>
                <td class="encabezado numero" style='width:10%'>Ventas Bienes</th>
                <td class="encabezado numero" style='width:10%'>Ventas Servicios</th>
                <td class="encabezado numero" style='width:10%'>IVA</th>
                <td class="encabezado numero" style='width:10%'>Ventas Totales</th>
            </tr>
        </tbody>
    </table>    
</div>