<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            .num{ text-align: right; }
            .tbl{ width: 100%; border-collapse: collapse; }
            .tdw{ width: 10%; }
            .strw{ width: 30%; }
            .numw{ width: 9.5%; }
            .brdtpbt{ border-top: double 0.25em black; border-bottom: double 0.25em black; padding-top: 0.5em;}
            .brdtp{ border-top: solid 0.1em black; border-bottom: double 0.25em black;}
            .ltxt{ text-align: left; }
            .tipo{ font-family: Arial; font-size: 10pt;}
            .bld{ font-weight: bold; }
            .centxt{ text-align: center; }
            .pdlft{ padding-left: 0.5em; }
            .pdbott{ padding-top: 2em; }
            .brdres{ border: solid 0.10em black; border-radius: 1em; width: 35em; margin: auto; }
            .brdfin{ border-top: solid 0.1em black; border-bottom: double 0.2em black; }
            .tblres{ width: 100%; border-collapse: collapse; }
            .espacio{ padding-top: 0.35em; padding-bottom: 0.35em; }
        </style>
    </head>
    <body>
        <table class="tbl tipo">
            <thead>
                <tr>
                    <th class="brdtpbt ltxt tdw">Fecha</th>
                    <th class="brdtpbt ltxt">Documento</th>
                    <th class="brdtpbt numw">Cr&eacute;dito</th>
                    <th class="brdtpbt numw">D&eacute;bito</th>
                    {{#if resumen}}
                        <th class="brdtpbt numw ltxt pdlft">A favor de</th>
                    {{else}}
                        <th class="brdtpbt numw pdlft">Saldo</th>
                    {{/if}}
                    <th class="brdtpbt strw ltxt pdlft">Concepto</th>
                </tr>
            </thead>
            <tbody>
                {{#if resumen}}
                {{else}}
                    <tr>
                        <td colspan="2" class="num bld">Saldo Anterior</td>
                        <td colspan="2"></td>
                        <td class="num bld">{{estcta.saldoinicial}}</td>
                        <td></td>
                    </tr>   
                {{/if}}
                {{#each estcta.tran}}
                <tr>
                    <td class="tdw espacio">{{fecha}}</td>
                    <td style="width: 10%" class="espacio">{{tipo}}{{numero}}</td>
                    <td class="num numw espacio">{{credito}}</td>
                    <td class="num numw espacio">{{debito}}</td>
                    {{#if resumen}}
                        <td class="pdlft espacio" style="width: 30%; font-size: 9pt;">{{#shortStr beneficiario 40}}{{/shortStr}}</td>
                    {{else}}
                        <td class="num numw espacio">{{saldo}}</td>
                    {{/if}}
                    <td class="strw pdlft espacio" {{#if resumen}}style="width: 31%; font-size: 9pt"{{/if}}>{{#shortStr concepto 35}}{{/shortStr}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="2" class="brdtp tdw espacio"></td>
                    <td class="num brdtp bld espacio">{{estcta.sumacredito}}</td>
                    <td class="num brdtp bld espacio">{{estcta.sumadebito}}</td>
                    {{#if resumen}}
                        <td class="brdtp espacio"></td>
                    {{else}}
                        <td class="num brdtp bld espacio">{{estcta.saldofinal}}</td>
                    {{/if}}
                    <td class="brdtp espacio"></td>
                </tr>
        </table>
        {{#if resumen}}
            <div class="pdbott" style="{{#addBreak estcta.tran}}{{/addBreak}}"></div>
            <div class="brdres" style="padding-top: 1em; padding-bottom: 1em; padding-left: 2.5em; padding-right: 2.5em;">
                <table class="tblres" style="font-family: Arial;">
                    <tbody>
                        <tr>
                            <td colspan="3" class="bld espacio">Saldo anterior....................................................</td>
                            <td class="num bld espacio">{{estcta.saldoinicial}}</td>
                        </tr>
                        {{#each estcta.resumen}}
                        <tr>
                            <td class="centxt espacio">{{cantidad}}</td>
                            <td class="espacio">{{operacion}}</td>
                            <td class="espacio">{{tipo}}</td>
                            <td class="num espacio">{{monto}}</td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td colspan="3" class="bld brdfin espacio">Saldo actual......................................................</td>
                            <td class="num bld brdfin espacio">{{estcta.saldofinal}}</td>
                        </tr>
                    </tbody>
                </table>                
            </div>
        {{/if}}
    </body>
</html>