<table>
    <tr>
        <th colspan="8">
            PAVALCO TRADING
        </th>
    </tr>
    <tr>
        <th colspan="8">
            Detalle de casos cerrados
        </th>
    </tr>
    <tr>
        <th style="text-align: left">No. caso</th>
        <th style="text-align: left">Equipo</th>
        <th style="text-align: left">Ubicación</th>
        <th style="text-align: left">Llamada</th>
        <th style="text-align: left">Tipo</th>
        <th style="text-align: left">Solución</th>
        <th style="text-align: left">Técnico</th>
        <th style="text-align: left">Cierre</th>
    </tr>
    {{#each casos}}
    <tr>
        <td>{{nocaso}}</td>
        <td>{{equipo}}</td>
        <td>{{ubicacion}}</td>
        <td>{{tipollamada}}</td>
        <td>{{tipocaso}}</td>
        <td>{{tiposolucion}}</td>
        <td>{{tecnico}}</td>
        <td>{{fhcierrestr}}</td>
    </tr>
    {{/each}}
</table>