<style>
	.padbot{ padding-bottom: 0.15em; }
	.rghttxt{ text-align: right; }

</style>
 
<div class="second rghttxt">
   <span style="font-weight: bold">{{fechas}}</span>
</div>
<div style="width: 100%; font-family: Arial; font-size: 14pt; text-align: center">
    <span style="font-weight: bold">{{general.empresa}} ({{general.abreviaempre}})</span><br/>
    <span style="font-weight: bold">Compras y retenciones</span><br/>
    <span>Del {{general.fdel}} al {{general.fal}}</span><br/>
</div>