<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            .encabezado{
                border-top: 0.1em solid black;
                border-bottom: 0.1em solid black;
            }
            .numero{
                text-align: right;
                width: 12.75%;
            }
            .total{
                border-top: 0.1em solid black;
                border-bottom: 0.1em double black;
                text-align: right;
                font-weight: bold;
                width: 12.75%;
            }
            .resumen{
                text-align: right;
            }
        </style>
    </head>
    <body>
        <table style='width: 100%'>
            <!--
            <thead>
                <tr>
                    <th class="encabezado">Código</th>
                    <th class="encabezado">Cuenta</th>
                    <th class="encabezado"></th>
                    <th class="encabezado"></th>
                    <th class="encabezado"></th>
                    <th class="encabezado">Totales</th>
                </tr>
            </thead>
            -->
            <tbody>
                {{#each cuentas}}
                <tr style="font-weight: {{#rowStyle codigo}}{{/rowStyle}}">
                    <!--<td style='width: 5.5%'>{{codigo}}</td>-->
                    <td style='width: 49%'>{{#strcut nombrecta}}{{/strcut}}</td>
                    <td class="numero">
                        {{#shouldPrint codigo 6}}
                            {{#numberWithCommas saldo 0}}{{/numberWithCommas}}
                        {{else}}
                        {{/shouldPrint}}
                    </td>
                    <td class="numero">
                        {{#shouldPrint codigo 4}}
                            {{#numberWithCommas saldo 0}}{{/numberWithCommas}}
                        {{else}}
                        {{/shouldPrint}}
                    </td>
                    <td class="numero">
                        {{#shouldPrint codigo 2}}
                            {{#numberWithCommas saldo 0}}{{/numberWithCommas}}
                        {{else}}
                        {{/shouldPrint}}
                    </td>
                    <td class="numero">
                        {{#shouldPrint codigo 1}}
                            {{#numberWithCommas saldo 0}}{{/numberWithCommas}}
                        {{else}}
                        {{/shouldPrint}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>